
.container{
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
    padding:1rem;
    box-sizing: border-box;
}
.image{
    width: 20rem;
    height: 10rem;
    object-fit: contain;
}