.Container{
    cursor: pointer;
    margin:0.1rem;
    display: flex;
    justify-content:center;
}
.minicontainer{
    padding-left:0.8rem;
}
.image{
    width:400px;
    height:200px;
    object-fit: cover;
}