.container{
    display: flex;
    justify-content: space-between;
}
.miniContainer{
    display: flex;
    font-size: 1.2rem;
}
.home{
    cursor: pointer;
    font-size: 2rem;
}
.login,.signup,.seller,.logout{
    cursor: pointer;
}